.dark {
    --bg-color: #000;
    --bg2-color: grey;
    --text-color: #eee;
    text-decoration-color: #eee;
    border-color: #eee;
    --text-color-2: #aaa;
    --place-holder-text-color: #666;
    --menu-color: #fff;
    --link-color: lightpink;
    --main-border-color: lightgrey;
    --hover-bg-color: #555;
    --border-hover-color: #666;
    --border-over-shadow: #777;
}

.light {
    --bg-color: #eee;
    --bg2-color: lightgrey;
    text-decoration-color: #333;
    --text-color: #333;
    border-color: #333;
    --place-holder-text-color: #888;
    --menu-color: #000;
    --link-color: purple;
    --main-border-color: lightgrey;
    --hover-bg-color: lightgrey;
    --border-hover-color: #777;
    --border-over-shadow: #999;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}

main {
    flex: 1;
}
